@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tiny5&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;

}

.main-container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(180px,1fr) 4fr;

}

.sidebar{
  background-color: rgb(22, 66, 168);
  font-family: "Bebas";
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
}

.todo-container {
  padding: 30px;
  
}

ul{
  list-style: none;
  margin-top: 20px;
  font-size: larger;
  text-wrap: nowrap;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 140px;
}

li > .remove-btn {
  margin-left: auto;
}

a{
  text-decoration: none;
  color: white;
}

.todo-card{
  border: 2px solid black;
  height: 50px;
  display: flex;
  gap: 25px;
  margin-top: 10px;
  text-wrap: none;
  min-width: max-content;
  align-items: center;
  padding: 10px;
}

.remove-btn, .edit-btn{
  height: 20px;
  width: 50px;
}

.edit-btn{
  margin-left: auto;
}
