/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

body {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(700px, 4fr);
}

.project-section {
  border: 2px solid black;
  padding: 32px;
  height: 100vh;
}

.todo-section {
  border: 2px solid black;
  padding: 32px;
}

.project-list {
  margin-top: 16px;
}

.project-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.project-name {
  cursor: pointer;
  font-size: larger;
  font-weight: 800;
}

.add-project-btn,
.delete-project-btn,
.delete-todo-btn,
.dialog-buttons > button,
.add-todo-btn,
.view-todo-btn {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.delete-project-btn,
.delete-todo-btn {
  width: 32px;
}

.add-project-btn,
.add-todo-btn,
.view-todo-btn {
  padding: 4px;
}

#projectDialog,
.todo-dialog {
  margin: auto;
  padding: 16px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.dialog-buttons > button {
  width: 72px;
  height: 24px;
  padding: 4px;
}

.todo-div {
  padding: 16px;
  border: 2px solid black;
  margin: 16px;
  display: flex;
  justify-content: space-between;
}

.add-todo-btn {
  margin: 16px;
}

.todo-button-div {
  display: flex;
  gap: 8px;
}

.todo-form > div {
  margin: 8px;
  display: grid;
  gap: 12px;
}

textarea {
  min-height: 100px;
  max-height: 100px;
  min-width: 164px;
  max-width: 164px;
}
